/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Montserrat:wght@400;600&family=Roboto:wght@300;400;500;700&display=swap');

/* VARIABLES CSS */
:root {
    --header-height: 3rem;

    /* Colors */
    /* Change favorite color */
    --hue-color: 230;
    /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    /* HSL color mode */
    --first-color: rgba(112, 130, 225, 1);
    --text-color: rgba(43, 43, 43, 1);
    --text-color-light: rgba(255, 255, 255, 1);
    --container-color: rgba(249, 249, 249, 1);

    /* Font and typography */
    --body-font: 'Roboto', sans-serif;
    --header-font: 'Concert One', cursive;
    --subheader-font: 'Montserrat', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margenes Bottom */
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* global */
body {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    color: var(--text-color);
}

/* flex */
.fx-col {
    display: flex;
    flex-direction: column;
}

.fx-row {
    display: flex;
    flex-direction: row;
}

/* Search Bar */
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}

.select {
    align-items: center;
    justify-content: space-evenly;
    width: 26rem;
    margin-top: 1rem;
}

/* Today & Today's Details */
.c-today {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
}


.header {
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
}

.location {
    margin-top: 1rem;
}

.location p {
    margin-left: var(--mb-0-5);
    margin-top: 0rem;
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
}

.today-info {
    align-items: right;
}

.today-info .day {
    font-family: var(--header-font);
    font-size: var(--h3-font-size);
    margin-bottom: 0rem;
    text-align: right;
}

.today-info .today-date {
    font-family: var(--subheader-font);
    font-size: var(--smaller-font-size);
    margin-top: var(--mb-0-5);
    text-align: right;
}

.today-details {
    background-color: var(--first-color);
    border-radius: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    filter: drop-shadow(0rem .2rem .2rem rgba(57, 57, 57, .4))
}

.num-unit {
    margin: 0 auto;
}

.num {
    font-family: var(--header-font);
}

.today-details .num {
    font-size: var(--h2-font-size);
    margin: var(--mb-0-25) var(--mb-0-25) var(--mb-0-75) var(--mb-1);
}

.current-temp .num {
    font-size: 5rem;
    margin-bottom: 0;
    margin: -0.25rem 0 0 var(--mb-1);
}

.l-temp,
.h-temp,
.humidity,
.wind {
    margin: 0 1rem;
    color: var(--text-color-light);
    text-align: center;
}

.l-temp .text,
.h-temp .text,
.humidity .text,
.wind .text {
    font-size: var(--h4-font-size);
}

.current-temp .text {
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--subheader-font);
}

.wind .num {
    margin-left: var(--mb-2);
}

@media screen and (min-width: 900px) {

    /* Font size for large devices */
    :root {
        --big-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }

    /* Search Bar */
    .search {
        flex-direction: row;
        align-items: center;
        margin: 5rem auto;
        width: 50rem;
        justify-content: center;
    }

    .select {
        margin-top: 0rem;
    }
}